.navbar {
  background-color: black;
}
.nav-item {
  transition: border-width 0.5s !important;
}
.nav-item:hover {
  border-radius: 30px !important;
  border-bottom: 8px solid white !important;
}
.nav-item:hover > a {
  font-weight: 800;
  color: white;
}
.logo {
  width: 5em;
}
